.app {
  min-width: 450px;
  .err-msg {
    text-align: center;
    border: 1px solid red;
    background-color: rgb(255, 194, 194);
    color: red;
    font-size: 14px;
    padding: 1em;
    margin-bottom: 1em;
  }

  .success-msg {
    text-align: center;
    border: 1px solid green;
    background-color: rgb(169, 255, 169);
    color: green;
    font-size: 14px;
    padding: 1em;
    margin-bottom: 1em;
  }
}
