.list-div {
  height: 80vh;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0.3em 2em;
  flex: 2;
  margin-right: 2em;
  margin-left: 1em;
  ul {
    list-style: none;
  }
  .empty-list {
    text-align: center;
    width: 70%;
    font-size: 20px;
    margin-top: 11em;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 1em;
    // background-color: rgb(207, 255, 207);
    // background-color: rgba(99, 93, 157, 0.6);
    font-weight: bold;
    // color: #555;
    color: #764af1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  }
}
